.all-projects-section {
  position: static;
  margin-bottom: 0%;
  padding: 5%;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .all-projects-section {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .all-projects-section {
    padding-top: 10%;
  }
}

@media screen and (max-width: 479px) {
  .all-projects-section {
    display: flex;
    flex-direction: column;
  }
}

.title-block {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-bottom: 1px none var(--line-83d2b2f6);
}

.title-block._20px-margin-bottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom-style: solid;
}

.heading-trending-launch-page {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;

  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .heading-trending-launch-page {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .heading-trending-launch-page {
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.heading-trending-launch-page._10-margin-left {
  padding-left: 10px;
}

._10px-div {
  width: 100%;
  height: 10px;
}

@media screen and (max-width: 991px) {
  ._10px-div {
    height: 20px;
  }
}

@media screen and (max-width: 479px) {
  ._10px-div {
    height: 10px;
  }
}

._10px-div.mobile {
  display: none;
}

@media screen and (max-width: 479px) {
  ._10px-div.mobile {
    display: flex;
  }
}

.div-block-103 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 0 auto;
}

.body-text {
  display: inline;
  align-self: center;

  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 479px) {
  .body-text {
    align-self: center;
    font-size: 14px;
    text-align: center;
  }
}

.body-text.blue {
  color: var(--backgroundsBlack-4be50407);
}

.body-text.white {
  width: 60%;
  flex: 0 auto;
  color: hsla(7.499999999999973, 41.17%, 96.30%, 1.00);
}

@media screen and (max-width: 479px) {
  .body-text.white {
    align-self: center;
    text-align: center;
  }
}

.body-text.white.nav {
  padding-right: 20px;
  align-self: center;
  flex: 0 auto;
  text-align: center;
}

.body-text.edit-founder-profile {
  color: hsla(336.00000000000006, 2.28%, 48.85%, 1.00);
  text-decoration: underline;
}

.body-text.center {
  display: block;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .body-text.center {
    align-self: center;
  }
}

.body-text.strike-through {
  background-color: hsla(7.499999999999973, 18.18%, 91.37%, 1.00);
}

.body-text.small {
  width: 100%;
  color: hsla(0, 0.00%, 76.00%, 1.00);
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
}

.small {
  margin-right: 5px;
  font-size: 20px;
}

.body-text.editing {
  display: block;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: var(--line-83d2b2f6);
}

.body-text.larger {
  width: auto;
  align-self: flex-start;
  font-size: 16px;
}

.body-text.larger.center {
  align-self: center;
}

.body-text.larger.left {
  text-align: left;
}

.body-text.filter {
  margin-right: 20px;
  align-self: center;
}

.body-text.condensed {
  width: 100%;
  text-align: center;
}

.body-text.middle {
  align-self: center;
}

.body-text.left {
  display: flex;
  align-self: flex-start;
}

.subbutton {
  width: auto;
  padding: 5px 40px 5px 20px;

  border: 1px solid var(--line-83d2b2f6);
  border-radius: 8px;

  background-image: url("https://uploads-ssl.webflow.com/64548f6f8feacfafa79c9592/648987bf42611f5119c970fc_icons8-share.svg"), linear-gradient(to bottom, var(--justOffWhite-56038e73), var(--line-83d2b2f6));
  background-position: 80% 50%, 0px 0px;
  background-size: 15px 15px, auto;
  background-repeat: no-repeat, repeat;

  color: var(--backgroundsBlack-4be50407);
}

@media screen and (max-width: 479px) {
  .subbutton {
    width: 100%;
  }
}

.subbutton._100 {
  display: flex;
  width: 100%;
  height: 36px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom, var(--justOffWhite-56038e73), var(--line-83d2b2f6));
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;

  text-align: center;
}

.subbutton.no-share {
  padding-right: 10px;
  padding-left: 10px;

  background-image: linear-gradient(to bottom, var(--justOffWhite-56038e73), var(--line-83d2b2f6));
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

@media screen and (max-width: 479px) {
  .subbutton.no-share {
    display: none;
  }
}

.small-text {
  display: inline-block;
  width: auto;
  margin-bottom: 0px;

  font-family: Inter;
  color: var(--accessibleComponentsDarkGrey-c4d8099c);
  font-size: 12px;
  line-height: 16px;
  white-space: normal;
}

@media screen and (max-width: 767px) {
  .small-text {
    display: none;
  }
}

.small-text.cream {
  margin-bottom: 0px;
  font-family: Inter;
  color: hsla(0, 0.00%, 54.90%, 1.00);
  font-size: 14px;
  line-height: 20px;
}

.small-text.cream.smallest {
  font-size: 10px;
  line-height: 16px;
}

@media screen and (max-width: 479px) {
  .small-text.hide {
    display: none;
  }
}

.small-text.center {
  width: 100%;
  margin-top: 5px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.underline {
  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  text-decoration: underline;
}

.small-text.edit {
  display: block;
}

.small-text.caps {
  text-transform: uppercase;
}

.caps {
  text-transform: uppercase;
}

.small-text.list {
  display: block;
  margin-bottom: 5px;
}

.list {
  padding-left: 0px;
  list-style-type: none;
}

.small-text.features {
  text-align: center;
}

.small-text.features.left {
  text-align: left;
}

.small-text.features.right {
  text-align: right;
}

.small-text.no-wrap {
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .small-text.no-wrap {
    font-size: 10px;
  }
}

.arrow-diagonal {
  margin-left: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--accessibleComponentsDarkGrey-c4d8099c);
  font-size: 12px;
}

.allprojectsweeklywrapper {
  display: flex;
  overflow: visible;
  width: 100%;
  height: auto;
  margin-top: 0vh;
  padding-top: 3%;
  padding-right: 0%;
  padding-left: 0%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .allprojectsweeklywrapper {
    overflow: scroll;
  }
}

@media screen and (max-width: 767px) {
  .allprojectsweeklywrapper {
    display: grid;
    flex-direction: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .allprojectsweeklywrapper {
    display: flex;
    margin-top: 0vh;
    flex-direction: column;
  }
}

.div-block-101 {
  position: absolute;
  left: auto;
  top: auto;
  right: 5%;
  bottom: 5%;

  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .div-block-101 {
    position: relative;
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-101 {
    justify-content: center;
    align-self: center;
  }
}

.div-block-101.top {
  border-top: 1px none var(--line-83d2b2f6);
}

.curator-text {
  display: block;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 5px 0px 0px;
  justify-content: flex-end;
  align-self: flex-start;

  border: 2px none var(--line-83d2b2f6);
  border-radius: 0px;

  background-color: transparent;

  color: var(--accessibleComponentsDarkGrey-c4d8099c);
  font-size: 12px;
  text-align: right;
}

.curator-text.right {
  display: flex;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  flex-wrap: nowrap;

  border-style: none none solid;
  border-radius: 0px;

  background-image: none;
}

.curator-text.right.no-underline {
  margin-bottom: 0px;
  padding: 0px;
  border-bottom-style: none;
  background-color: transparent;
}

.logo {
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Microgrammadot bolext';
  color: var(--white-4b0ed937);
}

@media screen and (max-width: 479px) {
  .logo {
    display: inline;
  }
}

._50px {
  height: 50px;
  border-bottom: 1px solid var(--accessibleComponentsDarkGrey-c4d8099c);
}

.curator-name {
  font-family: 'Microgrammadot bolext';
  text-transform: uppercase;
}