.about-your-vision {
  margin-bottom: 50px;
  padding: 50px;
  border: 1px solid var(--line-83d2b2f6);
  border-radius: 8px;
}

@media screen and (max-width: 479px) {
  .about-your-vision {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header-div {
  margin-bottom: 20px;
  padding: 0px 0px 20px;
  border-bottom: 1px solid var(--line-83d2b2f6);
}

.header-div.no-buffer {
  padding-right: 0%;
  padding-left: 0%;
}

.no-buffer {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0px;
  box-shadow: none;
}

.header-div.no-buffer.full {
  width: 100%;
}

.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  font-size: 24px;
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 16px;
    line-height: 20px;
  }
}

.heading.top {
  display: flex;
  margin-top: 0px;
  align-items: center;

  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  font-size: 24px;
}

.heading.top.bold {
  font-weight: 500;
  text-transform: uppercase;
}

.heading.submit {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-left: 0%;
  border: 1px none black;
}

.submit {
  margin-bottom: 50px;
  padding: 50px;
  border: 2px solid var(--line-83d2b2f6);
  border-radius: 8px;
}

@media screen and (max-width: 479px) {
  .submit {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.heading.submit.center {
  padding-top: 0px;
}

@media screen and (max-width: 479px) {
  .heading.submit.center {
    font-size: 20px;
  }
}

.heading.submit.center.left {
  text-align: left;
}

.heading.submit.left {
  padding-top: 0px;
}

@media screen and (max-width: 479px) {
  .heading.submit.left {
    font-size: 20px;
    line-height: 24px;
  }
}

.heading.line {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--line-83d2b2f6);
}

.heading.center {
  text-align: center;
}

.caps {
  text-transform: uppercase;
}

.heading.no-bottom-margin {
  margin-bottom: 0px;
}

.heading.no-bottom-margin.mobile-hide {
  display: none;
}

@media screen and (max-width: 479px) {
  .heading.no-bottom-margin.mobile-hide {
    display: flex;
  }
}

.form-subheading {
  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .form-subheading {
    font-size: 16px;
  }
}

.form-subheading.header {
  color: var(--accessibleComponentsDarkGrey-c4d8099c);
}

@media screen and (max-width: 479px) {
  .form-subheading.header {
    font-size: 16px;
  }
}

.project {
  padding: 50px 20px;
  border: 1px none var(--line-83d2b2f6);
  border-radius: 0px;
}

.project.top {
  padding: 50px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.project.top.no-line {
  border-bottom-style: none;
}

.project.top.no-line.no-buffer {
  padding-bottom: 0px;
}

.project.top.no-line.no-buffer.full {
  width: 100%;
}

.project.top.coming-soon {
  position: relative;
  border-bottom-style: none;
}

.project.top.coming-soon.no-buffer {
  padding-bottom: 0px;
}

.project.top.coming-soon.no-buffer.full {
  width: 100%;
}

.submit-column {
  padding-right: 60px;
  padding-left: 0px;
}

@media screen and (max-width: 479px) {
  .submit-column {
    padding-right: 0px;
    padding-bottom: 20px;
  }
}

.small-text {
  display: inline-block;
  width: auto;
  margin-bottom: 0px;

  font-family: Inter;
  color: var(--accessibleComponentsDarkGrey-c4d8099c);
  font-size: 12px;
  line-height: 16px;
  white-space: normal;
}

@media screen and (max-width: 767px) {
  .small-text {
    display: none;
  }
}

.small-text.cream {
  margin-bottom: 0px;
  font-family: Inter;
  color: hsla(0, 0.00%, 54.90%, 1.00);
  font-size: 14px;
  line-height: 20px;
}

.small-text.cream.smallest {
  font-size: 10px;
  line-height: 16px;
}

@media screen and (max-width: 479px) {
  .small-text.hide {
    display: none;
  }
}

.small-text.center {
  width: 100%;
  margin-top: 5px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.underline {
  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  text-decoration: underline;
}

.small-text.edit {
  display: block;
}

.small-text.caps {
  text-transform: uppercase;
}

.small-text.list {
  display: block;
  margin-bottom: 5px;
}

.list {
  padding-left: 0px;
  list-style-type: none;
}

.small-text.features {
  text-align: center;
}

.small-text.features.left {
  text-align: left;
}

.small-text.features.right {
  text-align: right;
}

.small-text.no-wrap {
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .small-text.no-wrap {
    font-size: 10px;
  }
}

@media screen and (max-width: 479px) {
  .column-54 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.body-text {
  display: inline;
  align-self: center;

  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 479px) {
  .body-text {
    align-self: center;
    font-size: 14px;
    text-align: center;
  }
}

.body-text.blue {
  color: var(--backgroundsBlack-4be50407);
}

.body-text.white {
  width: 60%;
  flex: 0 auto;
  color: hsla(7.499999999999973, 41.17%, 96.30%, 1.00);
}

@media screen and (max-width: 479px) {
  .body-text.white {
    align-self: center;
    text-align: center;
  }
}

.body-text.white.nav {
  padding-right: 20px;
  align-self: center;
  flex: 0 auto;
  text-align: center;
}

.body-text.edit-founder-profile {
  color: hsla(336.00000000000006, 2.28%, 48.85%, 1.00);
  text-decoration: underline;
}

.body-text.center {
  display: block;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .body-text.center {
    align-self: center;
  }
}

.body-text.strike-through {
  background-color: hsla(7.499999999999973, 18.18%, 91.37%, 1.00);
}

.body-text.small {
  width: 100%;
  color: hsla(0, 0.00%, 76.00%, 1.00);
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
}

.small {
  margin-right: 5px;
  font-size: 20px;
}

.body-text.editing {
  display: block;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: var(--line-83d2b2f6);
}

.body-text.larger {
  width: auto;
  align-self: flex-start;
  font-size: 16px;
}

.body-text.larger.center {
  align-self: center;
}

.body-text.larger.left {
  text-align: left;
}

.body-text.filter {
  margin-right: 20px;
  align-self: center;
}

.body-text.condensed {
  width: 100%;
  text-align: center;
}

.body-text.middle {
  align-self: center;
}

.body-text.left {
  display: flex;
  align-self: flex-start;
}

._10px-div {
  width: 100%;
  height: 10px;
}

@media screen and (max-width: 991px) {
  ._10px-div {
    height: 20px;
  }
}

@media screen and (max-width: 479px) {
  ._10px-div {
    height: 10px;
  }
}

._10px-div.mobile {
  display: none;
}

@media screen and (max-width: 479px) {
  ._10px-div.mobile {
    display: flex;
  }
}

.input-field {
  height: auto;
  min-height: auto;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 10px;

  border: 2px solid var(--line-83d2b2f6);
  border-radius: 5px;

  background-color: var(--line-83d2b2f6);

  font-family: Inter;
  color: var(--backgroundsBlack-4be50407);
  font-size: 14px;
}

.input-field:focus {
  border: 2px solid var(--line-83d2b2f6);

  background-color: transparent;

  outline-color: black;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  color: hsla(0, 100.00%, 0.00%, 1.00);
}

.input-field.audience {
  height: 20vh;
  color: var(--backgroundsBlack-4be50407);
}

.input-field.tldr {
  height: 20vh;
}

.team {
  width: 100%;
  margin-bottom: 50px;
  padding: 50px;
  border: 2px solid var(--line-83d2b2f6);
  border-radius: 8px;
}

@media screen and (max-width: 479px) {
  .team {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .input-field.collaborators {
    height: 40vh;
  }
}

.input-field.team-form {
  height: auto;
}

.team-form {
  padding-top: 10px;
}

.input-field.team-form._2 {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .input-field.team-form._2 {
    width: 100%;
  }
}

.input-field.team-form._3 {
  width: auto;
}

.input-field.founder-name {
  margin-left: 0px;
  background-color: var(--line-83d2b2f6);
  color: var(--backgroundsBlack-4be50407);
}

@media screen and (max-width: 479px) {
  .input-field.founder-name {
    margin-bottom: 20px;
  }
}

.founder-name {
  margin-left: 5px;
  font-family: 'Space Grotesk';
  color: var(--backgroundsBlack-4be50407);
  text-decoration: none;
}

.input-field.video-url {
  margin-bottom: 0px;
  font-family: Inter;
}

.input-field.roadmap {
  height: 40vh;
}

.input-field.brief {
  width: 100%;
  margin-bottom: 0px;
  color: hsla(0, 0.00%, 60.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .input-field.brief {
    margin-bottom: 20px;
  }
}

.input-field.own-brief {
  font-family: 'Space Grotesk';
  color: var(--backgroundsBlack-4be50407);
}

.input-field._30 {
  height: 20vh;
}

.input-field.update {
  min-height: 30vh;
}

.input-field._50 {
  width: 50%;
  margin-right: 10px;
  color: hsla(7.499999999999973, 18.18%, 91.37%, 1.00);
}

@media screen and (max-width: 479px) {
  .input-field._50 {
    width: 100%;
  }
}

.input-field._20 {
  height: 20vh;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.eth-address {
  margin-left: 0px;
  color: var(--accessibleComponentsDarkGrey-c4d8099c);
}

.input-field.long {
  height: 20vh;
}

.input-field.buffer {
  width: 95%;
}

.buffer {
  display: block;
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: disc;
}

.input-field.short {
  margin-right: 10px;
}

.input-field.eth-team-member {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 14px;
}

@media screen and (max-width: 479px) {
  .input-field.eth-team-member {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
}

.input-field._80 {
  width: 80%;
  margin-right: 10px;
}

.input-field.nft {
  width: 30%;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: var(--white-4b0ed937);
  font-size: 12px;
}

._30px-div {
  width: 100%;
  height: 30px;
}

@media screen and (max-width: 479px) {
  ._30px-div {
    height: 40px;
  }
}

@media screen and (max-width: 479px) {
  ._30px-div.mobile {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .column-55 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.simple {
  height: 36px;
  font-family: Inter;
  color: var(--accessibleComponentsDarkGrey-c4d8099c);
  font-size: 12px;
}

.simple._30 {
  width: 30%;
}

.simple._100px {
  height: 100px;
}

@media screen and (max-width: 479px) {
  .column-71 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .column-66 {
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 0px;
  }
}